<div class="exs-tracking-consent">
  <p class="mat-body-1">Mit Besuch und Nutzung der Seite akzeptiere ich die <a href="#"><span class="mat-body-2">Datenschutzerklärung</span></a>
    und
    willige in die Verarbeitung meiner personenbezogenen Daten im Rahmen der Nutzung dieser Website sowie zum Setzen
    der erforderlichen Cookies ein.</p>
  <div class="exs-tracking-consent-actions">
    <button mat-stroked-button type="button" (click)="changeConsentState(false)">Tracking nicht erlauben</button>
    <button mat-flat-button color="primary" type="button" (click)="changeConsentState(true)">Akzeptieren</button>
  </div>
</div>
