@import '~@angular/cdk/overlay-prebuilt.css';
@import '~@angular/material/theming';

.cdk-overlay-container {
  z-index: 9999;
}

.exs-tracking-consent {
  @include mat-elevation(16);

  background-color: #fff;
  border-radius: 4px;
  color: #333;
  display: flex;
  flex-direction: column;
  font-display: swap;
  max-width: 600px;
  padding: 16px;
  width: 100%;

  a {
    text-decoration: none;
  }
}

.exs-tracking-consent-actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;

  a {
    margin-bottom: 0 !important;
    text-transform: uppercase;
  }

  a:first-child {
    margin-right: 8px;
  }
}
